@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@layer base {
  input, textarea {
    @apply bg-slate-900 border-slate-700 text-white placeholder-slate-500;
  }
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
  border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

.animate-in {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
